<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORION</title>
    <link rel="stylesheet" href="{% static 'thankyou.css' %}">
    <style>
        body{
            background-image: url("{% static 'gameimg.jpg' %}");
        }
    </style>
</head>
<body>
    <div class='center'>

    <h1><center>{{message}}</center></h1>
    <a href="{% url 'register' %}"><center><button class='button-29'>Go to Form</button></center></a>
    </div>
</body>
</html>